.history {
  margin: auto;
  width: 750px;
  border-collapse: collapse;
  padding: 50px auto;
}

th {
  background: #3498db;
  color: white;
  font-weight: bold;
}

td,
th {
  text-align: center;
  padding: 10px;
  border: 1px solid rgb(236, 230, 230);
  text-align: left;
  font-size: 18px;
}
td:hover {
  background: #bbbaba;
}
